*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #72C27A;
}
a:hover, .active {
    border-bottom: 2px solid #2FAF84;
    transition-duration: .25s;
    color: #2FAF84;
}
i {
    padding: 0 0.3em 0 0;
}
@font-face{
    font-family: cjk-allseto;
    src: url("./fonts/cjkfonts-allseto.ttf");
  }
html {
    /* font-family: Helvetica Neue,Helvetica,Arial,PingFangTC-Light,Microsoft YaHei,微软雅黑,STHeiti Light,STXihei,华文细黑,Heiti,黑体,sans-serif; */
    font-family: cjk-allseto;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar{
    width: 5px;
}
/*滚动槽*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
}
body {
    background: #f2f3f5;
    min-height: 100vh;
    padding: 3em 0;
    flex-flow: column;
    justify-content: center;
}
#container, #footer {
    max-width: 60em;
    padding: 1em 0;
    margin: 0 auto 2em auto;
    box-shadow: 0 0 0.15em 0.15em rgba(0,0,0,.125);
    border-radius: 5px;
}
#container {
    background: #fff;
}
@media (max-width: 768px) {
    body {
        padding: 0;
    }
    #container, #footer {
        border-radius: unset;
    }
    #footer {
        margin: 0 auto;
    }
}
#footer {
    background: #72C27A;
}
#footer a{
    display: block;
    color: #fff;
    padding: .75em 1em;
}
@media (max-width: 606px){
    #footer .code-base, #footer .copyright {
        line-height: 2em;
    }
}
#footer a:hover{
    border-bottom: none;
    background: #2FAF84;
}
#footer a i {
    margin-right: 0.5em;
    text-align: center;
    width: 1.5em;
}
.hr {
    border: 1px solid #72C27A;
    width: 98%;
    margin: 1.1em auto;
}
.section.top .hr {
    width: 94%;
}
.section.top, .section.header {
    display: flex;
    align-items: center;
}
.section.top .ascii-logo {
    font-size: 1.75em;
    text-align: center;
    font-family: monospace;
}
.section.top .ascii-logo:hover {
    color: #72C27A;
    transition-duration: .25s;
}
.section.top .topbar {
    margin: .65em 0 0 0;
    text-align: center;
}
.section.top .topbar a{
    padding: 0 1em;
    margin: 0 1.5em;
    font-size: 1.5em;
}
.section.header .picture-container {
    padding: 2em;
}
.section.header .picture {
    background: #fff;
    border: .5em solid #fff;    
    border-radius: 5px;
    box-shadow: 0 0 0.15em 0.15em rgba(0,0,0,.15);
    display: block;
    overflow: hidden;
}
.section.header .picture img {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}
.section.header .name {
    font-weight: 400;
    line-height: 1.25em;
    margin: .35em 0 .35em 0;
}
.section.header .bio-singature p{
    line-height: 1.25em;
    margin: .25em .5em .25em 0;
}
.section.header .split {
    margin: 0 1em;
}
.flex-container {
    margin: 0 auto;
    max-width: 1200px;
}
.flex-parent {
    padding: 0;
}
.intro h2 {
    margin: 0em;
    letter-spacing: .02em;
    font-size: 1.75em;
    font-weight: 400;
}
.intro h2 i.fas {
    margin: .25em;
    text-align: center;
    width: 1em;
}
.intro p {
    border-left: .25em solid#72C27A;
    color: #555;
    font-size: 1.2em;
    line-height: 1.75em;
    margin: 1em 0;
    overflow: auto;
    padding: .5em;
}
.intro .picture {
    display: block
}
.intro .picture img {
    width: 95%;
    height: 100%;
    box-shadow: 0 0 .35em rgba(0,0,0,.25);
    display: block;
    margin: 0 auto;
}
.intro .picture.status-image img {
    width: 40%;
    height: 100%;
    display: block;
    box-shadow: none;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .intro .picture.status-image img {
        width: 100%;
    }
}
.intro .notice-text {
    text-align: center;
    border-left: 0;
}
.intro iframe {
    width: 100%;
    height: 500px;
}
.lable-group {
    display: inline-block;
    margin: 1.25em 0;
    padding: 0 .25em;
    position: relative;
}
.lable-group .header {
    color: #aaa;
    display: block;
    font-size: .8em;
    left: 0;
    padding: 0;
    position: absolute;
    text-shadow: 0 0 0.1em rgba(0,0,0,.25);
    top: -1.75em;
}
.lable-group .lable {
    background: #eee;
    border-radius: 5px;
    line-height: 2.2em;
    display:inline-block;
    padding: 0 .5em;
    margin: .25em 0;
    box-shadow: 0 0 0.1em rgba(0,0,0,.25);
}
@media (max-width: 768px) {
    .section.top .ascii-logo {
        font-size: 1em;
        letter-spacing: -.09em;
    }
    .section.top .topbar a{
        padding: 0 .6em;
        margin: 0 1em;
        font-size: 1em;
    }
    .intro .block .split {
        padding: 0 .5em;
    }
    .intro p {
        border-left: none;
        padding: .2em;
    }
} 
figure.identities {
    margin: .75em 0;
    border-bottom: .1em solid rgba(0,0,0,.05);
}
figure.identities:last-child {
    border-bottom: none;
}
figure.identities figcaption {
    color: #777;
    line-height: 2em;
    padding: 0 .25em;
}
figure.identities figcaption i {
    font-size: 1.2em;
    margin-right: .5em;
    text-align: center;
    width: 1.5em;
}
figure.identities ul li{
    font-size: 1.25em;
    line-height: 2.5em;
    list-style: none;
    margin: .5em 0;
}
figure.identities ul li a {
    display: block;
    color: #333;
}
figure.identities ul li a i {
    font-size: 1.1em;
    text-align: center;
    width: 1.5em;
}
figure.identities ul li a .fake-link {
    float: right;
    color: #72C27A;
}
figure.identities ul li a:hover {
    background-color: rgba(1, 124, 48, 0.01);
    box-shadow: inset 0 -0.5em 0.5em -0.5em rgba(1,105,124,.1);
    border: none;
   
}
figure.identities ul li.nosrc a {
    cursor: not-allowed;
}
figure.identities ul li.nosrc a:hover {
    box-shadow: inset 0 -0.5em 0.5em -0.5em #c93756;
    color: #ddd;
    border: none;
}
figure.identities ul li.nosrc a:hover .fake-link {
    color: #ddd;
}